<div id="TopBar">
    <span>version : <%= APPDATAS.version %></span>
    <span>username :
        <input type="text" data-username>
    </span>
</div>

<script>
    window.addEventListener("DOMContentLoaded", async () => {
        ////////////////// GET /////////////////////
        let username = URIdatas.user.name
        render(username)

        ////////////////// SET /////////////////////
        $("[data-username]").change(function () {
            fetch("user", {name: $(this).val()}, true)
        });
        api.receive("return:username", async (arg) => {
            render(arg[0])
        })
        function render(newname) {
            $("[data-username]").attr("placeholder", newname)
        }
    })
</script>