<div id="TopBar">
    <span data-appname></span> v<span data-appversion></span>
</div>

<script>
    window.addEventListener("DOMContentLoaded", async () => {
        $("[data-appname]").text(APPDATAS.name)
        $("[data-appversion]").text(APPDATAS.version)
    })
</script>