* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 70%;
    height: 100%;
    background-color: rgb(109 150 159);
    font-family: monospace, sans-serif;
    margin: auto;
}

button{
    cursor: pointer;
}
