* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 70%;
    height: 100%;
    background-color: rgb(109 150 159);
    font-family: monospace, sans-serif;
    margin: auto;
}
.todo{
    display: flex;
    color: rgb(91, 99, 105);
    padding: 5px;
    justify-content: space-between;
    background-color: #cbc1f1;
}
.todo div{

}